<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2 h1 fw-bold mb-0" href="{% url 'displayhood'%}">Home</a>


        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            {% if user.is_authenticated %}

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" id="searchcont">
                    <!-- <a class="nav-link" href="#">Dashboard</a> -->
                    <form class="form-inline" method="get" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search Hood" name="title" aria-label="Search">
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mr-5" href="#">Hello {{request.user}} </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Profile

                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/profile/">My Profile</a></li>
                            <li><a class="dropdown-item" href="/update/">Update Profile</a></li>
                        </ul>
                    </div>
                </li>
                {% if user.profile.neighbourhood %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewhood' user.profile.neighbourhood.id%}">

                    <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">My Neighborhood</button>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="">

                    <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">No Hood Joined</button>
                    </a>
                </li>
               {% endif %} 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'newhood'%}">
                        <button type="button" class="btn btn-light">Add Hood</button>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'displaypost'%}">
                        <button type="button" class="btn btn-light">View Post</button>

                    </a>
                </li>
                
            </ul>



            <a class="nav-link" href="{% url 'signout'%}">
                <button type="button" class="btn btn-light btn-rounded">Logout</button>

            </a>
            {%else%}


            <!-- Left links -->


            <div class="d-flex align-items-center">

                <a href="{% url 'login'%}">
                    <button type="button" class="btn btn-light mr-5 ml-5" data-mdb-ripple-color="dark">Login</button>

                </a>

                <a href="{% url 'register'%}"><button type="button" class="btn btn-dark me-3">
                        Sign up for free
                    </button></a>
                <!-- <a class="btn btn-dark px-3" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button"><i
                        class="fab fa-github"></i></a> -->
            </div>
            {% endif%}

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->